@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    user-select: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}